<div class="container">
  <div class="card" style="width:auto">
    <div class="card-header">
      <p class="lm">(list-add-form Component)</p>
      <h2>Ajouter une liste</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="createList()"><!-- [] fait le lien avec le form dans le .ts / () ative createList-->
        <div class="form-group">
          <label for="listName">Saisir le nom de la liste : </label>
          <input type="text" name="listName" class="form-control" placeHolder="nom de la liste" formControlName="listName" required>
        </div>
        <br>
        <div formArrayName="listValue">
          <div class="form-group" *ngFor="let optionControl of getOptions().controls ; let i = index">
            <label>Saisir le nom de l'option : </label>
            <input type="text" class="form-control" [formControlName]="i" required><!-- i indexe le tableau (met le i  et la valeur de input (formControlName) dans le tableau dans le .ts) pour pouvoir boucler dessus-->
          </div>
          <button type="button" class="btn btn-success" (click)="onAddOptions()">Ajouter une option</button>
        </div>
        <br>
        <hr>
        <button class="btn btn-success" type="submit" [disabled]="form.invalid">Créer la liste</button><!-- bloque le bouton tant que tous les champs ouverts ne sont pas remplis -->
      </form>
    </div>
    <br>
  </div>
</div>
