<div class="container">

    <div class="card text-white bg-secondary" style="width:auto">

        <div class="card-header">
            <h1>
                <a class="appHead" href="#" routerLink="/">Gestion de listes et options</a>
            </h1>
           
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-info" href="#" routerLink="/list">Gérer les listes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>