<div class="container">
  <div class="card" style="width:auto">
    <div class="card-header">
      <h3>Liste des listes existantes </h3>
      <p class="lm">(edit list)</p>
    </div>
    <div class="card-body">

      <!--1e boucle sur les listes / afficher les titres de listes -->
      <div class="container-fluid" *ngFor="let list of lists">
        <div class="row">
          <div class="col-sm-8">
            <h4>Nom de la liste (id):</h4>
            <p>id de liste : {{list.id}} -- name de la liste : {{list.listName}}</p>
            <h5>Options de la liste :</h5>

            <div *ngFor="let elem of list.listValue">
              <!--boucle dans la boucle pour boucler sur listValue / afficher les options -->
              <p>id de option : {{ elem.id }} -- cle de option : {{ elem.cle }} -- name de option : {{ elem.name }}
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </p>
            </div>
            <hr>
          </div>

          <!--Bouton modification Liste-->
          <div class="col-sm-2">
            <button type="button" class="btn btn-default" [routerLink]="['/list', list.id]">modifier la liste</button>
          </div>

          <!--Modal Supprimer la liste-->
          <div class="col-sm-2">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">supprimer la liste</button>
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">Supprimer la liste</h4>
                  </div>
                  <div class="modal-body">
                    <p>Voulez-vous vraiment supprimer la liste ?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="return" class="btn btn-default" data-dismiss="modal">Retour</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Supprimer</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br> <!-- Lien vers form de création de liste -->
      <button class="btn btn-success" href="#" routerLink="/list/add">Créer une nouvelle liste</button>
    </div>
  </div>
</div>