<div class="container" style="width:auto">
  <div class="card" style="width:auto">

    <div class="container-fluid" *ngFor="let list of lists">
      <!--1e boucle pour récupérer la liste (et le listName)-->
      <div class="container" *ngIf="listId == list.id">
        <!--ngIf pour ne prendre que la liste sélectionnée-->
        <div class="card-header">
          <p class="lm">(edit one list)</p>
          <p>Vous modifiez la liste : {{list.listName}} </p>
          <!-- récupère le listName grâce à ngFor-->
        </div>

        <div class="card-body">
          <!--1e boucle sur les listes-->
          <div class="row">
            <div class="col-sm-8">
<!-- Mettre un form comme dans list-add-form avec le placeHolder"{{}}"" -->
              <p>Modifier le titre de la liste :
                <span id="text-mod" contenteditable="true" placeHolder="">{{list.listName}}</span> <!--contenteditable rend le contenu modifiable-->
              </p>
              <hr>
              <h5>Options de la liste :</h5>

              <div *ngFor="let elem of list.listValue"> <!--boucle dans la boucle pour boucler sur listValue-->
                <br>
                <p>
                  Modifier l'option :
                  <span id="text-mod" contenteditable="true">{{ elem.name }}</span>
                  <button type="button" class="close" aria-label="Close"> <!-- bouton petite croix -->
                    <span aria-hidden="true">Suppr &times;</span>
                  </button>
                </p>
              </div>
              <hr>
<!-- Ajouter bouton "ajout nouvelle option" //lien form add-list -->
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="card-footer">
      <div>
        <a class="btn btn-outline-info" (click)="goBack()">Retour</a>
        <a class="btn btn-info" (click)="goBack()">Valider les modifications</a><!-- à revoir quand modif fonctionnelle -->
      </div>
    </div>
  </div>
</div>