.lm {
    color: grey;
    font-size : 10px;
}

/* style pour le contenteditable -- à voir pour les imput form modif */
#text-mod {
    border:1px solid silver;
    padding :7px 100px 7px 7px;
    color: rgb(165, 158, 158);
    background-color: #F1F5FB;
    font-style: italic;
    border-radius :3px;

}